.Navbar-container{
    background-color: black;
    height: 100px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 700;
    padding: 0px 20px;
    z-index: 9999;
}
.logo h2{
    font-size: 20px;
    font-weight: 700;
}
.logo img{
    width: 120px;
    height: 120px;
}
.navlist .navitem{
    text-decoration: none;
    color: white;
    margin: 5px;
    padding: 0px 10px;
    font-size: 18px;
}
.connectbtn{
    text-decoration: none;
    border: 1px solid #EFCC18;
    color: white;
    padding: 8px 18px;
    display: flex;
    align-items: center;
    width: fit-content;
    border-radius: 50px;
}
.menu-bar{
    display: none;
}
@media(min-width: 300px) and (max-width: 500px){
    .Navbar-container{
        width: 90%;
        padding: 0 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        /* gap: 200px; */
        /* overflow-x: hidden; */
    }
    .logo img{
        margin-left: -20px;
    }
    .navlist{
        display: none;
    }
    .mainbtn{
        display: none;
    }
    .menu-bar{
        display: block;
        border: 1px solid white;
        padding: 10px;
        border-radius: 4px;
        cursor: pointer;
        font-size: 1.5rem;
    }

/* Full-screen navlist styles */
.navlist.open {
    position: fixed;
    top: 0;
    left: 0;
    width: 90%;
    height: 90%;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    z-index: 100;
    transition: all 0.3s ease;
}

.navlist.open .navitem {
    color: #fff;
    font-size: 1.5rem;
}

/* Close icon styles */
.close-icon {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 1.5rem;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    border: 1px solid white;
    padding: 10px;
}

}