.Navbar-container{
    background-color: black;
    height: 100px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 700;
    padding: 0px 20px;
    z-index: 9999;
}
.logo h2{
    font-size: 20px;
    font-weight: 700;
}
.logo img{
    width: 120px;
    height: 120px;
}
.navlist .navitem{
    text-decoration: none;
    color: white;
    margin: 5px;
    padding: 0px 10px;
    font-size: 18px;
}
.connectbtn{
    text-decoration: none;
    border: 1px solid #EFCC18;
    color: white;
    padding: 8px 18px;
    display: flex;
    align-items: center;
    width: fit-content;
    border-radius: 50px;
}
@media(min-width: 300px) and (max-width: 500px){
    .Navbar-container{
        width: 100%;
        padding: 0 10px;
    }
    .navlist{
        display: none;
    }
}