.about-container{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 0px;
    background-color: #f8f8f8;
    height: 130vh;
}
.img-container{
    width: 30%;
}
.img-container img{
   width: 670px;
   height: 915px;
   margin-left: -140px;
}
.about-container .text-container{
    width: 50%;
    margin-left: 80px;
    padding: 80px 30px;
    padding-top: 30px;
    /* height: 1500px; */
    height: 100vh;
    background-color: #f8f8f8;
}
h2{
    font-size: 48px;
    margin-bottom: 10px;
}
p{
    font-size: 15px;
    color: rgba(0, 0, 0, .7);
    margin-bottom: 40px;
}
.about-btn{
    margin-top: 10px;
    text-decoration: none;
    border: 1px solid #EFCC18;
    color: black;
    padding: 8px 18px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    width: fit-content;
}
.chevron2{
    margin-left: 10px;
    color: white;
    padding: 10px 14px;
    border-radius: 50%;
    background-color: #EFCC18;
}