.about-container{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 0px;
    background-color: #f8f8f8;
    height: 80vh;
}
.img-container{
    width: 30%;
}
.img-container img{
   width: 563px;
   height: 563px;
   margin-left: -140px;
}
.about-container .text-container{
    width: 50%;
    margin-top: 20px;
    margin-left: 80px;
    padding: 40px 30px;
    /* padding-top: 30px; */
    /* height: fit-content; */
    background-color: #f8f8f8;
}
h2{
    font-size: 48px;
    margin-bottom: 10px;
}
p{
    font-size: 15px;
    color: rgba(0, 0, 0, .7);
    margin-bottom: 40px;
}
.about-btn{
    margin-top: 10px;
    text-decoration: none;
    border: 1px solid #EFCC18;
    color: black;
    padding: 8px 18px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    width: fit-content;
}
.about-btn:hover{
    background-color: #EFCC18;
    color: white;
}
.chevron2{
    margin-left: 10px;
    color: white;
    padding: 10px 14px;
    border-radius: 50%;
    background-color: #EFCC18;
}
@media(min-width: 300px) and (max-width: 500px){
    .about-container{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        height: fit-content;
        width: 100%;
        overflow-x: hidden;
    }
    .img-container{
        width: 90%;
    }
    .img-container img{
        width: 530px;
        height: 530px;
     }
     .about-container .text-container{
        width: 90%;
        height: fit-content;
        margin: 0;
        display: block;
        padding: 40px 20px;
     }
     .text-container p{
        font-size: 20px;
        color: black;
     }
}