.calendly-section{
    text-align: center;
    padding: 40px 0px;
    overflow-x: hidden;
}
.calendly-section .calend{
    overflow-x: hidden;
    cursor: pointer;
}
.footer-container{
    padding: 30px 100px;
    background-color: #000000;
    color: white;
}
.footer-upper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer-upper h2{
    font-size: 38px;
    font-weight: 800;
    font-family: WorkSans, sans-serif;
}

.bookcall{
    text-decoration: none;
    background: black;
    color: white;
    padding: 12px 32px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    width: fit-content;  
    cursor: pointer;
    border: 1px solid #EFCC18;
}

.footer-lower{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 200px 0px 20px 0px;
}
.social{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.icon:hover{
    color: #EFCC18;
    cursor: pointer;
}

@media(min-width: 300px) and (max-width: 500px){
    .footer-container{
        width: 90%;
        height: fit-content;
        padding: 40px 20px;
        overflow-x: hidden;
    }
    .footer-upper{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
    }
    .footer-lower{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        gap: 10px;
        padding: 0;
        padding-top: 60px;
    }
    .calendly-section{
        height: 450px;
        margin-bottom: 20px;
    }
    .bookcall{
        text-decoration: none;
        border: 2px solid #EFCC18;
        color: white;
        background-color: black;
        padding: 8px 18px;
        border-radius: 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 90%;
        font-size: 22px;
        font-weight: 600;
    }
}
